:root {
  --borderSize: 3px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#gameCanvas {
  margin: 0;
  padding: 0;
  border: var(--borderSize) solid red;
}